# SMOOTH = 0, Lax_problem = 1, Sod_problem = 2, SHU_OSHER_PROBLEM = 3, BLAST_WAVE = 4
TESTCASE = 4
ELEMNUM = 800
# notes: 如果想测精度，CFL=0.05比较适合
CFL = 0.5
# 0:WENOJS 1:WENOZ
SCHEME = 0
# 0:CONVERVATIVE 1:CHARACTERISTIC
RECONSTRUCTIONTYPE = 1
# 0:OFF 1:ON  (Zhang & Shu 2011 positivity-preserving limiter)
POSITIVITY_LIMITER = 1